# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Django
db.sqlite3

# Migrations cache
*/migrations/__pycache__/

# Static files
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage
.coverage
htmlcov/

# Python packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/